/* HEADER */
.AppLayout :global(.Layout__header) {
	border-bottom: 1px solid var(--sds-clr-gray-06);
	padding: 1rem 3rem;
}

.AppLayout :global(.Layout__header) :global(.Layout__inset) {
	gap: 2rem;
}

.AppLayout :global(.Layout__header--center) {
	flex-direction: row;
	justify-content: start;
}

/* FOOTER */
.AppLayout :global(.Layout__footer__content) {
	flex-direction: row-reverse;
}
